@keyframes jump {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -85px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -25px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes rolling {
  0%,
  50%,
  100% {
    rotate: 0deg;
  }

  25% {
    rotate: -5deg;
  }

  75% {
    rotate: 5deg;
  }
}

@keyframes moveBg {
  to {
    transform: translatex(-1920px);
  }
}

@keyframes score-count {
  0% {
    --score: 0000;
  }
  100% {
    --score: 9999;
  }
}
