@keyframes jump {
  from,
  20%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform:  translatex(0px) translatey(0px);
  }

  40%,
  50% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translatex(50px) translatey(-250px);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translatey(-25px);
  }

  90% {
    transform: translatex(20px) translatey(-5px);
  }
}

@keyframes rolling {
  0%,
  50%,
  100% {
    rotate: 0deg;
  }

  25% {
    rotate: -5deg;
  }

  75% {
    rotate: 5deg;
  }
}

@keyframes moveBg {
  to {
    transform: translatex(-1920px);
  }
}

@keyframes moveObstacle {
  to {
    transform: translatex(-110vw);
  }
}

@keyframes score-count {
  0% {
    --score: 0000;
  }
  100% {
    --score: 9999;
  }
}
