---

---

<div class="background">
  <div class="_background-inner">
    <img src="/assets/bg.png" alt="" />
    <img src="/assets/bg.png" alt="" />
    <img src="/assets/bg.png" alt="" />
  </div>
</div>

<style is:global>
  .background {
    container-name: bg-container;
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: filter 0.5s, scale .33s;

    ._background-inner {
      display: flex;
      align-items: center;
      height: 100%;
      --_pos: calc(100vh - 1080px - 360px);
      translate: 0 max(-25px, var(--_pos));

      @container style(--game-started) {
        animation: moveBg var(--background-time, 15s) infinite linear;
      }
    }
  }
</style>
