---

---

<div class="character-box">
  <div class="_character"></div>
</div>

<style is:global>
  .character-box {
    --jumped: false;
    container-name: character-box;
    z-index: 10;
    grid-area: score;
    align-self: end;
    justify-self: center;
    animation: rolling 1s infinite linear;
  }

  ._character {
    width: 183px;
    height: 257px;
    background-image: url("/assets/forest.png");
    background-size: cover;
    background-repeat: no-repeat;

    @container style(--jumped: true) {
      animation-name: jump;
      animation-duration: 2s;
      animation-iteration-count: once;
      animation-timing-function: linear;
    }
  }
</style>
