---

---

<div class="jump-button">
  <label for="jump" style="user-select: none">Jump</label>
  <input id="jump" type="checkbox" />
</div>

<style is:global>
  .jump-button {
    grid-area: b-center;
    font-family: 'Pixelify Sans';
    font-size: clamp(16px, 10vmax, 64px);
    font-weight: 500;
    color: #fff;
    align-self: center;
    justify-self: center;
    text-align: center;
    text-transform: uppercase;
    
    &:hover {
      scale: 1.1;
      color: yellow;
    }

    input {
      all: unset;
      opacity: 0;
      width: 0;
      height: 0;
      overflow: hidden;
    }

    label {
      padding: 1rem;
      font-size: inherit;
      cursor: pointer;
      text-align: center;
    }
  }
</style>
